


.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: red;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
  
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: #000;
    }

    nav.black ul {
          background: #000;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }

}
.video-background{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}
@media (min-aspect-ratio: 16/9){
    .video-background{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
.video-background{
    width: auto;
    height: 100%;
}
}
.contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contents h1 {
    color: #fff;
    font-family: "Poppins";
    font-weight: 200;
    font-size: 40px;
}
#first{
    background-color: whitesmoke;
    border: none;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
    line -webkit-width: 150px;
    -moz-width: 150px;
    -ms-width: 150px;
    -o-width: 150px;
    width: 150px;
    margin-top:25px;
    margin-left:100px;
    border-radius:25px;
}
#second{
    background-color: transparent;
    border: none;
    font-family: "Poppins";
    text-transform: uppercase;
    font-weight: bold;
    line-height: 35px;
    border: 3px solid white;
    line -webkit-width: 150px;
    -moz-width: 150px;
    -ms-width: 150px;
    -o-width: 150px;
    width:150px;
    border-radius:25px;
    
}
#first,#second:hover{
    background-color: whitesmoke;
    color:black;
    cursor: pointer;
}

header{
    background-color: rgba(5, 5, 80, 0.5);
    height: 100vh;

}z
